<div id="main" class="palm-hasheader">
	<div class="palm-header center" id="main-hdr">Settings</div>		
</div>

<div class="palm-group">
	<div class="palm-group-title">Server Info</div>
	<div class="palm-list">

		<div class='palm-row first'>
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="title">    	
					<div class="label">script</div>
	  				<div x-mojo-element="TextField" id="serverInput" name="serverInput"></div>
				</div> 
			</div>
		</div>
	
		<div class='palm-row last'>
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="title">    	
					<div class="label">passkey</div>
	  				<div x-mojo-element="TextField" id="passkeyInput" name="passkeyInput"></div>
				</div> 
			</div>
		</div>
	</div>
</div>

<div class="palm-group">
	<div class="palm-group-title">Settings</div>
	<div class="palm-list">

		<div class='palm-row first'>
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="title">    	
					<div class="label left">background</div>
	  				<div x-mojo-element="ToggleButton" id="backgroundInput" name="backgroundInput"></div>
				</div> 
			</div>
		</div>
	
		<div class='palm-row last'>
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="title">    	
					<div class="label">refresh time</div>
	  				<div x-mojo-element="TextField" id="refreshInput" name="refreshInput"></div>
				</div> 
			</div>
		</div>
	</div>
</div>

<div class="palm-group">
	<div class="palm-group-title">Google Login</div>
	<div class="palm-list">
		<div class='palm-row first'>
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="title">    	
					<div class="label">username</div>
	  				<div x-mojo-element="TextField" id="usernameInput" name="usernameInput"></div>
				</div> 
			</div>
		</div>
		<div class='palm-row last'>
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="title">    	
					<div class="label">password</div>
	  				<div x-mojo-element="PasswordField" id="passwordInput" name="passwordInput"></div>
				</div> 
			</div>
		</div>
	</div>
</div>

