<div id="main" class="palm-hasheader">
	<div class="palm-header center" id="main-hdr">Pre Latitude</div>	
</div>

<div class="palm-group unlabeled">
	<div class="palm-list">
		<div class="palm-row first">
			<div class="palm-row-wrapper">
				<div x-mojo-element="ToggleButton" id="toggleOn"></div>
				<div class="label left">Tracking</div>
			</div>
		</div>
		<div class="palm-row last">
			<div class="palm-row-wrapper">
				<div class="label left">Status</div>
				<div id="status" class="title right truncating-text">Stopped</div>
			</div>
		</div>
	</div>
</div>


<div class="palm-group">
	<div class="palm-group-title">Location Info</div>
	<div class="palm-list">
		<div class="palm-row first">
			<div class="palm-row-wrapper">
				<div class="label left">Longitude</div>
				<div id="longitude" class="title right truncating-text">N/A</div>
			</div>
		</div>
		<div class="palm-row">
			<div class="palm-row-wrapper">
				<div class="label left">Latitude</div>
				<div id="latitude" class="title right truncating-text">N/A</div>
			</div>
		</div>
		<div class="palm-row">
			<div class="palm-row-wrapper">
				<div class="label left">Heading</div>
				<div id="heading" class="title right truncating-text">N/A</div>
			</div>
		</div>
		<div class="palm-row">
			<div class="palm-row-wrapper">
				<div class="label left">Velocity</div>
				<div id="velocity" class="title right truncating-text">N/A</div>
			</div>
		</div>
		<div class="palm-row last">
			<div class="palm-row-wrapper">
				<div class="label left">Accuracy</div>
				<div id="accuracy" class="title right truncating-text">N/A</div>
			</div>
		</div>
	</div>
</div>
				